/*nav barre
header{
    background-color: rgb(156, 202, 87);

}
.logo {
    width: 200px;
    height: auto;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    display: flex;
    justify-content: ;
    align-items: ;
}
li{
    display: inline;
    justify-content: space-around;
    margin: 10px;
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(120, 97, 210);

}

.menu-toggle {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
}

.close-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        background-color: #f0590d;
        transition: right 0.3s ease;
        font-size: 1.5rem;
    }

    nav.active {
        right: 0;
    }

    nav ul {
        flex-direction: column;
        padding-top: 1rem;
    }

    nav ul li {
        margin: 1rem 1rem;
    }

    .close-toggle {
        display: block;
    }
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.header_list-links_dropdown{
    display: none;
}

.header_list-links_cabinet:hover ul.header_list-links_dropdown{
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    background-color: none;
    color: black;
    font-size: 1rem;

}

a:hover{
    font-weight: bold;
    font-style: italic;
    font-size: 1.3rem;
}

.header_logo{
    width: 15rem;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
}

.close-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        background-color:rgb(158, 210, 79);
        transition: right 0.3s ease;
        font-size: 1.5rem;
    }

    nav.active {
        right: 0;
    }

    nav ul {
        flex-direction: column;
        padding-top: 1rem;
    }

    nav ul li {
        margin: 1rem 1rem;
    }

    .close-toggle {
        display: block;
    }
}

.body{
    display: flex;
    flex-direction: row;
}

.left{
    padding: 1rem 1% 1rem 11%;
}

.center{
    display: flex;
    flex-direction: column;
    padding: 1rem 33% 1rem 1%;
}